@use "mediaQuery" as media;

:root {
  --font-size: 18px;
  --font-family: "Lato", sans-serif;
  --primary-color: #c7b292;
  --font-color: #dbdbdb;
  --red-color: #ca2424;
  --black-color: #222;
  --brand-color: #00b8dd;
}
